#project-preview {
    display: flex;
    padding: 15px;
    border: 0.5px solid var(--accent-color);
    border-radius: 15px;
    margin-bottom: 25px;
    transform: scale(1);
    transition: transform 0.8s ease;
}

#project-preview:hover {
    transform: scale(1.05);
}

#project-preview div {
    display: flex;
    flex-direction: column;
}

#project-infos {
    width: 40%;
}

#technologies {
    margin-top: 15px;
    display: flex;
    background-color: var(--scrollbar-color);
    border-radius: 10px;
    justify-content: center;
}

#technologies li {
    padding: 5px;
}