#project-preview {
    display: flex;
    padding: 15px;
    border-bottom: 0.5px;
    border-style: solid;
    border-color: var(--accent-color);
}

#project-preview div {
    display: flex;
    flex-direction: column;
}

#project-infos {
    width: 40%;
}