#title {
    margin-top: 100px;
    margin-bottom: 60px;
}

.timeline {
    display: block;
    width: 100%;
    padding: 25px 0 15px 0;
    position: relative;
    overflow: hidden;
}

.timeline p {
    margin-bottom: 30px;
}

.timeline:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 5px;
    height: 100%;
    border-radius: 2px;
    background: var(--accent-color);
    transform: translateX(-50%);
}

.timeline li {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.timeline li:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: var(--accent-color);
    transform: translate(-50%);
}

.timeline li article {
    display: inline-block;
    position: relative;
    width: 47%;
}