/* Utility classes */

.animate {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animate.animate--infinite {
    animation-iteration-count: infinite;
}

.animate.dur0-2 {
    animation-duration: 0.2s;
}

.animate.dur0-4 {
    animation-duration: 0.4s;
}

.animate.dur0-6 {
    animation-duration: 0.6s;
}

.animate.dur0-8 {
    animation-duration: 0.8s;
}

.animate.dur1-2 {
    animation-duration: 1.2s;
}

.animate.dur1-4 {
    animation-duration: 1.4s;
}

.animate.dur1-6 {
    animation-duration: 1.6s;
}

.animate.dur1-8 {
    animation-duration: 1.8s;
}

.animate.dur2-0 {
    animation-duration: 2.0s;
}

.animate.dur2-2 {
    animation-duration: 2.2s;
}

.animate.dur2-4 {
    animation-duration: 2.4s;
}

.hidden {
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.5s;
    pointer-events: none;
}

.show {
    opacity: 1;
    pointer-events: auto;
}

/* Animations*/

@keyframes slideInLeft {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInBottom {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slideInLeft {
    animation-name: slideInLeft;
}

.slideInBottom {
    animation-name: slideInBottom;
}

