@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Rock+Salt&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    --background-color: #323232;
    --foreground-color: #ffffff;
    --accent-color: #000000;
    --text-color: #000000;
}

.dark {
    --background-color: #323232;
    --foreground-color: #0f0f0f;
    --accent-color: #ffffff;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
    overflow-y: hidden;
}

main {
    background-color: var(--foreground-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0 40px 60px 40px;
    justify-items: center;
    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

h1 {
    font-family: "Rock Salt", serif;
    font-size: xx-large;
}

#introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

#profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--accent-color);
    margin: 160px 0 50px 0;
}

#project-previews {
    width: 70%;
    display: flex;
    flex-direction: column;
    /*border-top: 0.5px;*/
    /*border-left: 0.5px;*/
    /*border-right: 0.5px;*/
    /*border-style: solid;*/
    /*border-color: var(--accent-color);*/
}

#project-previews > :first-child {
    margin-top: 100px;
}
