@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Rock+Salt&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-rgb: 165, 165, 165;
    --foreground-rgb: 255, 255, 255;
    --accent-rgb: 0, 0, 0;
    --text-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-rgb: 20, 20, 20;
        --foreground-rgb: 15, 15, 15;
        --accent-rgb: 255, 255, 255;
        --text-rgb: 255, 255, 255;
    }
}

body {
    background-color: rgb(var(--background-rgb));
    color: rgb(var(--text-rgb));
    display: flex;
    flex-direction: column;
    padding: 20px;
}

main {
    background-color: rgb(var(--foreground-rgb));
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 60px 40px;
    justify-items: center;
    align-items: center;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

h1 {
    font-family: "Rock Salt", serif;
    font-size: xx-large;
}

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid white;
    margin: 100px 0 50px 0;
}

#project-previews {
    margin-top: 250px;
    width: 70%;
    display: flex;
    flex-direction: column;
    border-top: 0.5px;
    border-left: 0.5px;
    border-right: 0.5px;
    border-style: solid;
    border-color: rgb(var(--accent-rgb));
}