@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Rock+Salt&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    --background-color: #323232;
    --foreground-color: #ffffff;
    --accent-color: #000000;
    --text-color: #000000;
    --scrollbar-color: #898989;
}

.dark {
    --background-color: #323232;
    --foreground-color: #0f0f0f;
    --accent-color: #ffffff;
    --text-color: #ffffff;
    --scrollbar-color: #898989;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding: 0;
    transition: all 0.5s ease;
}


@media (min-width: 600px) {
    body {
        padding: 20px;
        height: 100vh;
        overflow-y: hidden;
        scrollbar-width: thin;
        scrollbar-color: var(--foreground-color) var(--scrollbar-color);
    }

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: var(--foreground-color);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--scrollbar-color);
        opacity: 0.1;
        border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

main {
    background-color: var(--foreground-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0 10px 15px 10px;
    justify-items: center;
    align-items: center;
}

@media (min-width: 600px) {
    main {
        border-radius: 10px;
        padding: 0 40px 60px 40px;
        overflow: auto;
        scroll-behavior: smooth;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

h1 {
    font-family: "Rock Salt", serif;
    font-size: xx-large;
}

@media (max-width: 600px) {
    h1 {
        font-size: x-large;
    }
}

/*#introduction {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    PADDING-BOTTOM: 8%;*/
/*    margin-bottom: 12%;*/
/*}*/

/*@media (max-width: 600px) {*/
/*    #introduction {*/
/*        font-size: 15px;*/
/*    }*/

/*    #introduction p {*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*#project-previews {*/
/*    width: 70%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

#project-previews > :first-child {
    margin-top: 100px;
}
